@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  button {
    font-family: var(--font-pretendard);
  }
}
@layer components {
  .gathering-carousel-indicator {
    width: 6px;
    height: 4px;
    background-color: #dbeafe;
    transition: width 250ms ease;
    &[data-active] {
      width: 20px;
      background-color: #3b82f6;
    }
  }

  .gathering-carousel-control {
    background-color: white;
    &[data-inactive] {
      visibility: hidden;
    }
  }

  .gathering-badge {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}
@layer utilities {
  .corner-dot {
    @apply absolute right-[-5px] top-[-6px] rounded-full bg-gray-300;
    width: 12px;
    height: 12px;
  }

  .editable-gradient-border {
    position: relative;
    border: 4px solid transparent;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(59, 130, 246, 0.71) 0%, rgba(59, 130, 246, 1) 100%);
    background-clip: border-box;
    -webkit-background-clip: border-box; /* Safari 호환성 */
    background-origin: border-box; /* 보더를 그라데이션으로 */
    z-index: 0;
  }
}
