@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gathering-carousel-indicator {
    width: 6px;
    height: 4px;
    background-color: #dbeafe;
    transition: width 250ms ease;
    &[data-active] {
      width: 20px;
      background-color: #3b82f6;
    }
  }

  .gathering-carousel-control {
    background-color: white;
    &[data-inactive] {
      visibility: hidden;
    }
  }

  .gathering-badge {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}